<script src="/assets/js/jquery.min.js"></script>
<script src="/assets/js/jquery.scrollex.min.js"></script>
<script src="/assets/js/jquery.scrolly.min.js"></script>
<script src="/assets/js/skel.min.js"></script>
<script src="/assets/js/util.js"></script>
<script src="/assets/js/main.js"></script>

<script src="/assets/libs/wow.js"></script>
<script src="/assets/libs/jquery.mb.YTPlayer.js"></script>
<script src="/assets/libs/isotope.pkgd.min.js"></script>
<script src="/assets/libs/imagesloaded.pkgd.min.js"></script>
<script src="/assets/libs/jquery.flexslider.js"></script>